body{
    font-family: 'Lato',sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #ff9a02;
    color: white;
    padding: 20px 50px;
}
.logo{
    color: white;
}

main{
    padding-bottom: 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: rgb(223, 220, 220);
    padding: 5px 10px;
    border-radius: 50px;
}

.searchInput{
    border: none;
    background-color: transparent;
    outline: none;
}
/**********************************login_button**************/
.login_button{
    background-color: white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 550;  
    position: relative;
}
.login_button a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.login_usericon{
    margin-right: 8px;
}
.login_icon{
    font-size: 10px;
    transition: transform 0.5s;
}
.login_button:hover .login_icon{
    transform: rotate(-180deg);
}
.login_menu{
    position: absolute;
    top: 32px;
    height: 200px; /*pop login box height set here*/
    width: 100%;
    width: 200px;
    background-color: transparent;
    margin-left: -13px;
    transform: translate(-23%);
    display: none;
    padding-top: 15px;
    z-index: 6;
}
.login_menu::before{
    position: absolute;
    content: ""; /*hense the content is empty. The border made to be triangle*/
    margin-left: 100px;
    height: 5px;
    top: -5px;
    border-top: 0px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 16px solid white;
}
.login_button:hover .login_menu{
    display: block;
}
.login_menu_list{
    height: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 15px;
    color: black;
}
.login_menu_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.new_user{
    margin: 0;
}
.login_menu_top a:hover{
    text-decoration: underline;
}
.login_expantion a{
    display: flex;
    align-items: center;
}
.login_expantion a p{
    padding-left: 10px;
}

/***********************nav bottom*********************/
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 70px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.menuItem a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}


/******************imageSliderContainer*****************/

.imageSliderContainer{
    width: 100%;
    display: flex;
    padding: 10px 0px;
    background-color: white;
}
.imageSliderItems{
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease;
}
.imageSliderItems img{
    height: 260px;
}
.imageSliderList{
    display: flex;
    overflow: hidden;
    width: 98.5%;
}
.imageSliderBtn{
    margin: auto;
    display: flex;
    width: 0px;
}
.imageSliderBtn button{
    color: rgb(0, 0, 0);
    padding: 30px 10px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);/**********************/
    font-size: 20px;
    z-index: 5;
}
/*.imageSliderBtn .preve_imageBtn{
    border-radius: 0px 15px 15px 0px; /**:nth-child(n) – Applied to the n-th child element of its parent.
}
.imageSliderBtn .next_imageBtn{
    border-radius: 15px 0px 0px 15px;
}*/
#preve_imageBtn{
    position: relative;
    border-radius: 0px 15px 15px 0px;
}
#next_imageBtn{
    position: relative;
    border-radius: 15px 0px 0px 15px;
    left: -35px;    
}


