@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(255, 111, 0);
    font-weight: 800;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    text-shadow: 0 0 5px rgb(255, 111, 0),
    0 0 25px rgb(255, 111, 0);
}

.logo:hover{
    color: white;
    text-shadow: 0 0 5px white,
    0 0 25px white;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

@keyframes slideTop {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

nav a:hover{
    color: rgb(255, 111, 0);
}

nav a.active{
    border-bottom: 3px solid rgb(255, 111, 0);
}



section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

section.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height: 100vh;*/
    padding: 0 9%;
    margin-top: 6rem;
    /************************/
    gap: 8rem;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

span{
    color: #ffcc00;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 20;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-content p{
    font-size: 1.6rem;
}

.home-image{
    border-radius: 50%;
}

.home-image img{
    position: fixed;
    left: 14%;
    top: 5%;
    max-width: 400px;
    height: auto;
    transform: scale(5.5);
    z-index: -10; 
    width: 32vw;
    border-radius: 50%;
}

.my-image{
    border-radius: 50%;
}

.my-image img{
    position: relative;
    margin-top: 0%;
    left: 14%;
    height: auto;
    max-width: 600px;
    width: 32vw;
    transform: scale(1.1);
}

.my-image img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(255, 111, 0);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(255, 111, 0);
    box-shadow: 0 0 25px rgb(255, 111, 0);
}

/************************magnetic btn*********************/

.magneticbtn a{
    background-color: transparent;
    margin-top: 1rem;
    border: 0.2rem solid rgb(255, 111, 0);
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.magneticbtn .btn > span{
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    transition: transform 100ms ease-out;
    z-index: 5;
}

.magneticbtn .hovercolor{
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 111, 0);
    border-radius: 100%;
    width: 100%;
    height: 0%;
    bottom: 0;
    transition: height 0.3s ease-in-out;
}

.magneticbtn a:hover .hovercolor{
    height: 100%;
    box-shadow: 0 0 25px rgb(255, 111, 0);
}

.magneticbtn a:hover span{
    color: black;
}

.magneticbtn a:hover{
    box-shadow: 0 0 25px rgb(255, 111, 0);
}



.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Pentester";
    color: rgb(255, 111, 0);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(255, 111, 0);
    }
}

@keyframes words{
    0%, 20%{
        content: "Pentester";
    }
    21%, 40%{
        content: "SOC Analyst";
    }
    41%, 60%{
        content: "Web Developer";
    }
    61%, 80%{
        content: "Sketch Artist";
    }
    81%, 100%{
        content: "Cybersecurity Analyst";
    }
}


/***************************************About**************************/

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-text h2{
    font-size: 4rem;
}

.about-text p{
    color: white;
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}








/******************************************************************************************************************/

@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }
    nav a:hover{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid rgb(255, 111, 0);
    }
    
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .about {
        grid-template-columns: 1fr;
        min-height: 100vh;
        margin: 5rem 4rem;
        align-items: center;
        justify-content:center ;
        display: flex;
    }

    .about-text h2 {
        font-size: 3rem;
    }

    .about-text p {
        font-size: 1.4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .my-image img{
        width: 70vw;
        margin-top: 4rem;    
    }
    .home-image img{
        width: 60vw;
        margin-top: 2rem;
        margin-left: 5vh;
    }
    .hamburger {
        display: flex; /* Show hamburger icon on mobile */
        flex-direction: column;
        cursor: pointer;
        margin-left: auto; /* Align to the right */
    }
    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 3px 0;
    }
    nav {
        display: none; /* Hide nav by default */
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px; /* Adjust based on header height */
        right: 0;
        width: 100%;
        background-color: rgba(22, 22, 22, 0.9);
        z-index: 10; /* Ensure it appears above other content */
    }
    nav.active {
        display: flex; /* Show nav when active */
    }
    nav a {
        margin: 1.5rem 0;
        padding: 0.5rem 1rem;
    }
}

@media (min-width:996px) {
    .hamburger{
        display: none;
    }
}